* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
    background: #272727;
	min-height: 100vh;
	padding: 0 10px;
	align-items: center;
	justify-content: center;
}

.title-container {
    text-align: center;
    margin: 20px 0; /* Adjust spacing as needed */
	color: #fff;
}

.main-content {
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
    width: 100%; /* Ensures the container takes up full width */
    max-width: 1200px; /* Adjusts for maximum width to prevent excessive stretching */
    
}

.calendar-container {
    background: #fff;
    width: 450px;
    height: 605px; /* Fixed height, adjust as needed */
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    
}

.calendar-container header {
	display: flex;
	align-items: center;
	padding: 25px 30px 10px;
	justify-content: space-between;
}

header .calendar-navigation {
	display: flex;
}

header .calendar-navigation span {
	height: 38px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	user-select: none;
	color: #aeabab;
	font-size: 1.9rem;
}

.calendar-navigation span:last-child {
	margin-right: -10px;
}

header .calendar-navigation span:hover {
	background: #f2f2f2;
}

header .calendar-current-date {
	font-weight: 500;
	font-size: 1.7rem;
}

.calendar-body {
	padding: 20px;
}

.calendar-body ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days for a week */
    grid-gap: 0px; /* Adjust gap between cells as needed */
    padding: 0;
}

.calendar-body li {
	width: calc(100% / 7);
	font-size: 1.2rem;
	color: #414141;
    margin-left: 0.5rem;
}

.calendar-body .calendar-weekdays li {
	cursor: default;
	font-weight: 500;
}

.calendar-body .calendar-dates li {
	margin-top: 30px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.calendar-dates li {
    width: 36px; /* Set a fixed width */
    height: 40px; /* Set a fixed height to match the width for a circle */
    line-height: 40px; /* Adjust if using flexbox instead */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjust based on your layout */
    border-radius: 50%; /* This creates the circular shape */
    transition: background-color 0.3s;
    cursor: pointer; /* Optional, if you want a pointer cursor on hover */
}

.calendar-dates li.inactive {
	color: #aaa;
}

.calendar-dates li.active {
	color: #fff;
}

.calendar-dates li::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
	background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
	background: #e4e1e1;
}

.events-container {
    flex: 1;
    margin-left: 20px; /* Adjust spacing between events list and calendar */
    background: #f9f9f9; /* Light background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable scrolling if the list is long */
  }

.event-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out; /* Adjust for smooth expansion */
    cursor: pointer;
    overflow: hidden; /* Ensures the border-radius is applied to child elements */
}

.event-summary {
    margin-bottom: 0px; /* Separates summary from details */
    display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.event-title {
    display: flex;
    align-items: center;
}

.event-item h4 {
    margin: 0.5rem;
    font-size: 1.3rem;
    color: #2b2b2b; /* Match the calendar highlight color */
}

.event-info {
    margin-right: 0.5rem;
    display: flex;
	flex-direction: column;   
    align-items: end;
    font-weight: 600;
}

.event-item p {
    margin: 5px 0;
    font-size: 1.0rem;
    color: #333;
    font-weight: 600;
}

.event-details {
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding-top: 10px;
    display: none; /* Hidden by default */
    overflow: hidden;
    border-top: 1px solid #eee; /* Visually separates details from the summary */
    max-height: 0;
}

.event-details.open {
    display: block;
    padding-top: 10px; /* Restore padding when open */
    max-height: 500px; /* Maximum height when expanded - adjust as needed */
}

.event-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.event-image {
    max-width: 100%; /* Ensures the image is not wider than the event block */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-top: 10px; /* Adds some space above the image */
    border-radius: 5px; /* Optional: rounds the corners of the image */
}


.image-container {
    text-align: center; /* Center the image horizontally */
    margin-top: 20px; /* Space from the content above */
}

.image-container img {
    max-width: 10%; /* Ensures the image is responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 1rem;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .calendar-container {
        width: 100%;
        height: auto; /* Fixed height, adjust as needed */
        border-radius: 10px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
        
    }

    .calendar-body .calendar-dates li {
        margin-top: 15px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    .events-container, .calendar-container {
        
        margin-left: 0;
        margin-bottom: 20px; /* Add some space between the calendar and the event list on mobile */
    }

    .event-item h4 {
        margin: 0.5rem;
        margin-left: 0rem;
        font-size: 1.1rem;
    }

    .event-item p {
        margin: 5px 0;
        font-size: 0.9rem;
    }
    .image-container img {
        max-width: 50%; /* Adjust the logo size on smaller screens */
    }
}
